<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br>
  <ion-label class="intro-text">Tribal Running is a non-profit charitable initiative founded by Sean McDermott in 2022.
    It is based in Galway city and helps local athletes with their development in partnership with Merlin Park Woods Club & Castlegar AC.
  </ion-label>
  <hr>
  <ion-title class="center-title">Follow us on social media to find out more!</ion-title>

  <div class="social-buttons">
    <ion-button class="facebook" (click)="openFacebook()">
      <ion-icon slot="start" name="logo-facebook"></ion-icon>
      Facebook
    </ion-button>
  
    <ion-button class="instagram" (click)="openInstagram()">
      <ion-icon slot="start" name="logo-instagram"></ion-icon>
      Instagram
    </ion-button>
  </div>
</ion-content>
